@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* font-family: Helvetica, sans-serif; */
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  width: 100%;
}

/* LOGO */
.logo {
  padding: 8px 10px;
  width: 125px;
  justify-content: left;
  display: inline-block;
}

/* NAVIGATION */
li,
a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 5px;
  justify-content: right;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 8px 10px;
}

.nav_links li a {
  transition: all .3s ease 0s;
}

.nav_links li a:hover {
  color: #5D79A2
}

/* HERO */
.hero-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 100px 100px 100px;
}

.hero-container img {
  height: 500px;
  width: 375px;
}

.hero-container h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 130px;
  padding-bottom: 20px;
  font-size: 60px;
  opacity: 0;
  animation: reveal 1s forwards var(--d);
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.paragraph span {
  display: block;
  opacity: 0;
  animation: reveal 1s forwards var(--d);
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.hero-container p {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  font-size: 24px;
  width: 700px;
  padding-bottom: 100px;
  text-align: left;
}

/* SEE MY WORKS BUTTON */
button {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  border: none;
  opacity: 0;
  animation: reveal 1s forwards var(--a);
}

@keyframes reveal {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


.works {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.works:hover {
  transition: all .3s ease-in-out .3s;
  scale: 110%
}

.works::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  margin-right: -45px;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
}

.works::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 40px;
  height: 10px;
  margin-right: -50px;
  margin-top: 5px;
  border-top: 1.5px solid black;
}

/* FOOTER */
footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.footer-container {
  background-color: black;
}

.footer-copyright {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: white;
  display: flex;
}

.footer-copyright p {
  background-color: black;
  height: 32px;
  display: flex;
  align-items: center;
}

.socials {
  height: 32px;
  width: 300px;
  margin-left: 30px;
  background: black;
}

/* SKILLS */
.my-skills {
  background-color: white;
  width: 100%;
}

.skills-heading {
  background-color: white;
  display: inline-block;
  justify-content: flex-start;
  padding: 100px 100px 0px 100px;
  width: 100%;
}

.my-skills h2 {
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  background-color: white;
}

.subtitle {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  color: rgb(92, 92, 92);
  background-color: white;
}

.skills-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 100px 100px;
  width: 100%;
}

.skill {
  font-family: Helvetica, sans-serif;
  background-color: white;
  line-height: 1;
}


.my-skills h3 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  font-size: 24px;
  background-color: white;
}

.my-skills p {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  font-size: 20px;
  text-align: left;
  background-color: white;
}

/* PROJECTS */

.my-projects {
  width: 100%;
  padding: 100px 100px 0px 100px;
}

.project-container {
  width: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  width: 100%;
}

.project-img {
  height: 350px;
  width: 500px;
  transition: .8s;
}

.project-img:hover {
  scale: 110%
}

.project-details {
  width: 550px;
}

.project-number {
  font-family: 'Jost';
  font-size: 2.5rem;
  color: #5D79A2;
}

.project-name {
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;
}

.project-type {
  font-family: 'Jost';
  font-size: 20px;
  color: #8f8e8e;
  padding-top: 10px;
}

.project-description {
  font-family: 'Jost';
  font-size: 18px;
  color: black;
  padding-top: 20px;
}

.line {
  height: 1px;
  padding: 0px 0px 100px 0px;
}

@media screen and (max-width: 600px) {
  .hero-container .text {
    display: flex;
    flex-direction: column;
  }

  .my-skills .skills-container {
    display: flex;
    flex-direction: column;
  }

  .my-skills .skills-container .skill {
    width: 100%;
  }

  .my-projects .project-container {
    display: grid;
    grid-template-areas:
      "header"
      "project1"
      "project2";
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}